/*Schedule ---------------------------------------------------------------------*/
@font-face { font-family: Parka;
	src: url('Parka Regular.otf');
}

#topic {
	font-family: Parka;
	font-size: 200%;
	color: black;
}
.container {
	max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
}

.schedule_item{
	margin: 0 0 0.5em 0;
}
.schedule_item p{
	margin: 0;
}
.schedule_week_item{
	margin: 0 0 0.5em 0;
    border: 1px solid #000;
}
.schedule_week_item p{
	margin: 0;
}
.category{
	font-weight: bold;
}
h2.schedule{
	color: rgb(59,116,179);
	font-size: 150%;
}
div.inputdd{
    float:left;
    margin-right: 10px;
}
div.breaker{
    clear: both;
}
/* calendar */
div.calendar{
	border-left:1px solid #999;
}
div.calendar-day, div.calendar-month-day{
	height:130px;
	font-size:13px;
    overflow: auto;
}
div.calendar-day:hover, div.calendar-month-day:hover{
	background:#eceff5;
}
div.calendar-day-np{
	background:#eee;
    height:130px;
}
div.calendar-day-head{
	background:#ccc;
	font-weight:bold;
	text-align:center;
	padding:5px;
	border:1px solid #999;
}
div.day-number{
	background:#999;
	padding:5px;
	color:#fff;
	font-weight:bold;
	float:right;
	width:30px;
	text-align:center;
}
div.day-name{
	display: none;
}
div.calendar-month-day{
    height: 400px;
}
/* shared */
div.calendar-day, div.calendar-day-np, div.calendar-month-day{
	padding:5px;
	border:1px solid #999;
}
div.PA {
    background: rgba(255,0,0,0.5);
}
div.VO {
    background: rgba(0,255,0,0.5);
}
div.G1 {
    background: rgba(0,0,200,0.5);
}
div.G2 {
    background: rgba(0,200,200,0.5);
}
div.G3 {
    background: rgba(0,0,100,0.5);
}
div.G4 {
    background: rgba(0,100,100,0.5);
}
div.SO {
    background: rgba(0,100,0,0.5);
}
div.GA {
    background: rgba(0,150,100,0.5);
}
div.GB {
    background: rgba(0,100,150,0.5);
}
div.GC {
    background: rgba(0,150,150,0.5);
}
div.UE {
    background: rgba(0,0,255,0.5);
}
@media only screen and (max-width: 767px){
    div.calendar-day-head, div.calendar-day-np{
	   display:none;
    }
    div.calendar-day, div.calendar-month-day{
        height: auto;
    }
    div.day-name{
        display: inline;
        float: right;
        background:#999;
	    padding:5px;
	    color:#fff;
	    font-weight:bold;
	    text-align:center;
    }
}
#view {
	width: 125px;
}
@media only screen and (min-width: 768px){
    div.col-sm-1{
        width: 14%;
    }
	div.day{
		width: 25%;
	}
}
