/*Schedule ---------------------------------------------------------------------*/



.schedule_item{
	margin: 0 0 0.5em 0;
}
.schedule_item p{
	margin: 0;
}
.schedule_week_item{
	margin: 0 0 0.5em 0;
    border: 1px solid #000;
}
.schedule_week_item p{
	margin: 0;
}
.category{
	font-weight: bold;
}
h2.schedule{
	color: rgb(59,116,179);
	font-size: 100%;
}
/* calendar */
div.calendar{
	border-left:1px solid #999;
}
div.calendar-day{
	height:130px;
	font-size:13px;
    overflow: auto;
}
div.calendar-day:hover{
	background:#eceff5;
}
div.calendar-day-np{
	background:#eee;
    height:130px;
}
div.calendar-day-head{
	background:#ccc;
	font-weight:bold;
	text-align:center;
	padding:5px;
	border-bottom:1px solid #999;
	border-top:1px solid #999;
	border-right:1px solid #999;
}
div.day-number{
	background:#999;
	padding:5px;
	color:#fff;
	font-weight:bold;
	float:right;
	width:30px;
	text-align:center;
}
/* shared */
div.calendar-day, div.calendar-day-np{
	padding:5px;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
}
div.PA {
    background: rgba(255,0,0,0.5);
}
div.VO {
    background: rgba(0,255,0,0.5);
}
div.G1 {
    background: rgba(0,0,200,0.5);
}
div.G2 {
    background: rgba(0,200,200,0.5);
}
div.G3 {
    background: rgba(0,0,100,0.5);
}
div.G4 {
    background: rgba(0,100,100,0.5);
}
div.SO {
    background: rgba(0,100,0,0.5);
}
div.GA {
    background: rgba(0,150,100,0.5);
}
div.GB {
    background: rgba(0,100,150,0.5);
}
div.GC {
    background: rgba(0,150,150,0.5);
}
div.UE {
    background: rgba(0,0,255,0.5);
}
@media only screen and (max-width: 767px){
    div.calendar-day-head{
	   display:none;
    }
}

#view {
	width: 125px;
}
