/*--------------------------------GENERAL-------------------------------------*/
 @font-face { font-family: Parka;
	 src: url('Parka Regular.otf');
 }

 #time {
	 font-size: 125%;
	 font-family: Parka;
 }

 #date {
	 font-size: 110%;
	 font-family: Parka;
 }

#fh_pic {
	width: 65%;
	margin-left: 17.5%;
	margin-top: 5%;
}

.container {
	max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

#dropdown_container {
	margin-top: 3%;
}

#result_container {
	margin-top: 3%;
}

#reset_container {
	margin-top: 1%;
}

#resultbtn {
	width: 125px;
}


footer {
	margin-top: 5%;
	text-align: center;
}

/*-------------------devices smaller than 768px wide--------------------------*/
/*---MOBILE FIRST---*/

#studiengang {
	margin-top: 2%;
}

#jahrgang {
	margin-top: 1%;
}

#ansicht {
	margin-top: 1%;
}

#all_dropdowns {
	text-align: center;
}

#all_buttons {
	text-align: center;
}

/*-------------------small devices like tablets-------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {}

/*-------------------medium sized devices i.e desktops------------------------*/
<<<<<<< HEAD
@media (min-width: 992px) {

	#studiengang {
		margin-top: 2%;
	}

	#jahrgang {
		margin-top: 2%;
	}

	#ansicht {
		margin-top: 2%;
	}
}
=======
@media (min-width: 992px) and (max-width: 1199px) {}
>>>>>>> 78fdbab2ffcc9fb553779be02735c0d035c40f5a

/*-------------------larger devices (e.g. wide-screen monitors)---------------*/
@media (min-width: 1200px) {}
